{% extends 'index.html' %}

{% block conteudo %}
<div class="container">
    <h2>Trocar Senha</h2>
    <form method="POST" action="{% url 'autenticacao:novaSenha' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="txtEmail">E-mail</label>
            <input type="email" class="form-control" id="txtEmail" name="txtEmail" required autocomplete="off">
            <div id="divEmailError" class="error-message"> </div>
        </div>
        <div class="form-group hidden-group" id="divSenha">
            <label for="txtNovaSenha">Nova Senha</label>
            <input type="password" class="form-control" id="txtSenha" name="txtSenha" required autocomplete="new-password">
        </div>
        {% comment %} <div class="form-group hidden-group" id="divPerfil">
            <label for="perfil">Perfil</label>
            <select class="form-control" id="slcPerfil" name="slcPerfil" required></select>
        </div> {% endcomment %}
        <div id="divSpace" class="space"> </div>
        <button type="submit" class="btn btn-light">Enviar E-mail</button>
        <a href="#" id="btnVoltar" class="btn btn-light">Voltar</a>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#txtEmail').on('input', function() {
            var email = $(this).val();
            $('#divPerfil').addClass('hidden-group');
            $('#divSenha').addClass('hidden-group');
            $('#divEmailError').text(' ').removeClass('visible');

            if (email.length > 0) {
                $.ajax({
                    url: "{% url 'autenticacao:get_perfis' %}",
                    data: {'email': email},
                    success: function(data) {
                        if (data.usuario_existe) {
                            $('#divSenha').removeClass('hidden-group');
                        } else {
                            $('#divEmailError').text('.').addClass('visible');
                        }
                    }
                });
            }
        });

        $('#btnVoltar').click(function(event) {
            event.preventDefault();
            toastr.info('Voltou???');
            window.location.href = "http://127.0.0.1:8000/";
        });
    });
</script>
{% endblock %}